<!--
    Pàgina de prohibit
-->
<!--
    Extén del html base
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" href="{% static 'css/403.css' %}"/>
</head>
<body>
<div class="gandalf">
    <div class="fireball"></div>
    <div class="skirt"></div>
    <div class="sleeves"></div>
    <div class="shoulders">
        <div class="hand left"></div>
        <div class="hand right"></div>
    </div>
    <div class="head">
        <div class="hair"></div>
        <div class="beard"></div>
    </div>
</div>
<div class="message">
    <h1>403 - No Pots Passar</h1>
    <p>Sembla que no tens accés a aquesta pàgina!<br/>Si t'has equivocat, prova de posar una altra url.</p>
</div>
</body>
</html>

