<!--
    Pàgina per afegir un nou producte a la base de dades. Només habilitada per l'administrador
-->

<!--
    Extén del html base
-->
{% extends 'base.html' %}
{% load static %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="global-container">

        <form method="POST" action="" enctype="multipart/form-data">
            <h3 class="card-title text-center">Afegeix un producte</h3>
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="form-group">
                <label for="nom">Nom</label>
                {{ form.nom }}
            </div>
            <div class="form-group">
                <label for="preu">Preu</label>
                {{ form.preu }}
            </div>
            <div class="form-group">
                <label for="imatge">Imatge</label>
                {{ form.imatge }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </form>

    </div>

{% endblock %}