{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina principal</title>
    {% block link_css %}

    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- incloem la barra de navegació -->
    {% include 'navbar.html' %}

    <!-- el que posem aquí es reemplaçarà -->
    {% block content %}
    
    {% endblock %}

    <footer>
        <div class="footer-text">
            <p class="sitemap"><b>Sitemap</b></p>
            <li><a href="index.html">Principal</a></li>
            <li><a href="cartellera.html">Cartellera</a></li>
            <li><a href="login.html">Iniciar sessió</a></li>
            <li><a href="registrar.html">Crear compte</a></li>
        </div>
    </footer>
</body>

</html>