{% extends 'base.html' %}
{% load static %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="global-container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Preu</th>
                    <th>Opcions</th>
                </tr>
                </thead>
                <tbody>
                {% for producte in productes %}
                <tr>
                    <td>{{ producte.nom }}</td>
                    <td>{{ producte.preu }}</td>
                    <td>
                        <a href="{% url 'editar_producte' producte.id_producte %}">Modificar</a>
                        <a href="#" onclick="confirmarDeleteProducte({{ producte.id_producte }})">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}