{% extends 'base.html' %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Crea un compte</h3>
                {{ form.errors }}
                <div class="card-text">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="first_name">Nom</label>
                            <input type="text" class="form-control form-control-sm" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Cognom</label>
                            <input type="text" class="form-control form-control-sm" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="email">Correu electrònic</label>
                            <input type="email" class="form-control form-control-sm" name="email">
                        </div>
                        <div class="form-group">
                            <label for="username">Nom d'usuari</label>
                            <input type="tel" class="form-control form-control-sm" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password1">Contrasenya</label>
                            <input type="password" class="form-control form-control-sm" name="password1"
                            onchange="form.password.pattern=this.value">
                        </div>
                        <div class="form-group">
                            <label for="password">Repeteix la contrasenya</label>
                            <input type="password" class="form-control form-control-sm" name="password2">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>

                        <div class="sign-in">
                            Ja tens compte? <a href="/login">Inicia sessió</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        var form_fields = document.getElementsByTagName('input')#}
{#        form_fields[1].placeholder = 'Nom'#}
{#        form_fields[2].placeholder = 'Cognom'#}
{#        form_fields[3].placeholder = 'Email'#}
{#        form_fields[4].placeholder = 'Telèfon'#}
{#        form_fields[5].placeholder = "Nom d'usuari"#}
{#        form_fields[6].placeholder = 'Contrasenya'#}
{#        form_fields[7].placeholder = 'Confirma la contrasenya'#}
{##}
{#        for (let field in form_fields) {#}
{#            form_fields[field].className += 'form-control form-control-sm'#}
{#        }#}
{#    </script>#}
{% endblock %}