<!--
    Pàgina per triar butaca. Es diferencien clarament les butaques lliures
    de les ocupades i les triades per tu. Malauradament només es pot reservar
    una butaca a la vegada.
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/butaques.css' %}"/>
    <script src="{% static 'js/butaques.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Booking cinema seats</title>
</head>

<body>
<div class="movie-container">
    <h2>
        {{ sessio.id_pelicula }}
    </h2>
</div>

<ul class="showcase">
    <li>
        <div class="seat"></div>
        <p class="info-butaca">Lliures</p>
    </li>
    <li>
        <div class="seat selected"></div>
        <p class="info-butaca">Seleccionats</p>
    </li>
    <li>
        <div class="seat occupied"></div>
        <p class="info-butaca">Ocupats</p>
    </li>
</ul>
<p class="text">
    Has seleccionat <span id="count">0</span> seients per <span id="total">0</span>€
</p>


<div class="container">
    <div class="screen"></div>
    <form method="post" action="{% url 'reservar_butaca' sessio.id_sessio %}">
        {% csrf_token %}

        <div class="row">

{#        Faig un for per mostrar totes les butaques de la pel·lícula i les vaig separant en rows #}
{#        per fer la forma de files. I poso l'if dins per saber quines butaques van a cada fila #}
            {% for b in butaca %}

                {% if b.num_butaca > 0 and b.num_butaca < 9 %}

{#                  Llavors dins del checkbox faig un for de les butaques que estan ocupade si comparo les #}
{#                  ids per saber si estan ocupades. Si ho estan, poso disabled que ja agafa la class de css#}
                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden

                    {% for bo in butaques_ocupades %}
                        {% if b.id_butaca == bo.id_butaca %}
                            disabled="disabled"
                        {% endif %}

                    {% endfor %}
                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}

        </div>

        <div class="row">

            {% for b in butaca %}
                {% if b.num_butaca > 8 and b.num_butaca < 17 %}

                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden

                            {% for bo in butaques_ocupades %}
                                {% if b.id_butaca == bo.id_butaca %}
                                    disabled="disabled"
                                {% endif %}

                            {% endfor %}

                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}
        </div>

        <div class="row">

            {% for b in butaca %}
                {% if b.num_butaca > 16 and b.num_butaca < 25 %}

                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden
                    {% for bo in butaques_ocupades %}
                        {% if b.id_butaca == bo.id_butaca %}
                            disabled="disabled"
                        {% endif %}

                    {% endfor %}
                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}
        </div>

        <div class="row">

            {% for b in butaca %}
                {% if b.num_butaca > 24 and b.num_butaca < 33 %}

                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden
                    {% for bo in butaques_ocupades %}
                        {% if b.id_butaca == bo.id_butaca %}
                            disabled="disabled"
                        {% endif %}

                    {% endfor %}
                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}
        </div>

        <div class="row">

            {% for b in butaca %}
                {% if b.num_butaca > 32 and b.num_butaca < 41 %}

                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden
                    {% for bo in butaques_ocupades %}
                        {% if b.id_butaca == bo.id_butaca %}
                            disabled="disabled"
                        {% endif %}

                    {% endfor %}
                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}
        </div>

        <div class="row">

            {% for b in butaca %}
                {% if b.num_butaca > 40 %}

                    <input type="checkbox" name="butaca" id="{{ b.id_butaca }}" value="{{ b.id_butaca }}" hidden
                    {% for bo in butaques_ocupades %}
                        {% if b.id_butaca == bo.id_butaca %}
                            disabled="disabled"
                        {% endif %}

                    {% endfor %}
                    >

                    <label for="{{ b.id_butaca }}" class="seat"></label>

                {% endif %}
            {% endfor %}
        </div>


        <input id="submit-btn" type="submit" value="Submit">
    </form>
</div>
<footer>
    <div class="div-footer">
    </div>
</footer>
</body>

</html>